body {
    background-color: #999999;
}

#container {
    width: min-content;
    margin: auto;
    margin-top: 100px;
    padding: 48px;
    text-align: center;
    background-color: white;
}

#blinker {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 100px;
    background-color: black;
}

#copyright {
    position: absolute;
    bottom: 20px;
    left: 20px;
}